* {
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: flex-start;
    background: #005792;  
    color: #fff;
}
.stats{
    float: right;
    
}

.restart-button {
    font-size: 16px;
    height: 30px;
    line-height: 3px;
    margin-top: 20px;
}

.win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button {
    background: #ec610a; 
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    text-align: center;
    color: #fff;
    border-bottom:30px #879274;
    border: 5px solid #13293d; 
    max-width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: #00bbf0;
    border-radius: 8px;
}

.questions {
    width: 55vw;
    height: 400px;
}

.results {
    width: 30vw;
    height: 400px;
}

.card {
    background: #fdb44b;
    border: 1px solid #eceff1;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}
